bin/
build/
dist/
node_modules/
out/
target/
obj/
.cache/
logs/
*.log
.env
*.pem
*.key
*.p12
*.cer
.idea/
.vscode/
.gradle/
/local.properties
/gradle/wrapper/

!/gradle/wrapper/gradle-wrapper.properties
